

.article-meta-details {
    border-top: 1px solid #eaeaea;
    margin-top: 15px;
   }

.form-signin h2 {
       text-align: center;
   }


.smallreply {
    position: absolute;
    right: 1em;
    top: 1em;
}


/* Extra small devices (portrait phones, less than 576px) */
@media (max-width: 575.98px) {
    
    .form-signin {
        width: 100%;
        margin-top: 20%;
    }
    .editprofile .figure {
        margin-left:30%;
    }

    .friends {
        padding-left:15%;
    }

    small {
        font-size:5px;
    }
}

/* Small devices (landscape phones, 576px and up) */
@media (min-width: 576px) and (max-width: 767.98px) {
    .form-signin {
        width: 100%;
        margin-top: 20%;
    }

    .editprofile .figure {
        margin-left:30%;
    }

    .friends {
        padding-left:15%;
    }

    small {
        font-size: 5px;
    }

}

/* Medium devices (tablets, 768px and up)*/
@media (min-width: 768px) and (max-width: 991.98px) {
	.form-signin {
        width: 60%;
        margin-top: 10%;
    }

    .editprofile {
        width:60%;
    }

    .editprofile .figure {
        margin-left:35%;
    }

    .friends {
        padding-left:10%;
    }
}

/* Large devices (desktops, 992px and up) */
@media (min-width: 992px) and (max-width: 1199.98px) {
	.form-signin {
        width: 50%;
        margin-top: 10%;
    }

    .editprofile {
        width:50%;
    }

    .editprofile .figure {
        margin-left:35%;
    }

    .friends {
        padding-left:7%;
    }

}

/* Extra large devices (large desktops, 1200px and up) */
@media (min-width: 1200px) {
	.form-signin {
        width: 50%;
        margin-top: 10%;
    }
    .editprofile {
        width:50%;
    }
    
    .editprofile .figure {
        margin-left:35%;
    }

    .friends {
        padding-left:7%;
    }
}
